jdbc.url=jdbc:mysql://localhost:3306/lhtool
jdbc.username=
jdbc.password=

app.jwtSecret=JWTSuperSecretKey
app.jwtExpirationInMs=604800000

mail.smtp.tlsEnabled=true
mail.smtp.host=
mail.smtp.password=
mail.smtp.username=