<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- File Appender -->
		<RollingFile name="File">
			<FileName>${sys:catalina.base}/logs/lh-tool.log</FileName>
			<FilePattern>${sys:catalina.base}/logs/lh-tool_%d{yyyy-MM-dd}.log.gz</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="2"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
		<Logger name="de.lh.tool" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>
<!-- 		<Logger name="org.hibernate.SQL" level="debug" additivity="false"> -->
<!-- 	      <AppenderRef ref="Console" />      -->
<!-- 	    </Logger> -->
<!-- 		<Logger name="log4j.logger.org.hibernate.type.descriptor.sql" level="trace" additivity="false"> -->
<!-- 	      <AppenderRef ref="Console" />      -->
<!-- 	    </Logger> -->
	</Loggers>
</Configuration>
